body {
    background-color: aliceblue;
}

.center-page {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.p-large{
    font-size: 20px;
}